{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">My Bookings</h2>
    
    {% if bookings %}
        <div class="col">
            {% for booking in bookings %}
                <div class="row">
                    <div>
                        {{booking.id}}
                    </div>
                    <div>
                        {{booking.flight.name}}
                    </div>
                    <div>
                        {{booking.passenger_name}}
                    </div>
                    <div>
                        {{booking.total_amount}}
                    </div>
                    <div>
                        {{booking.status}}
                    </div>

                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="alert alert-warning" role="alert">
            No bookings found.
        </div>
    {% endif %}

    <a href="{% url 'flights:list' %}" class="btn btn-success mt-3">
        Book Another Flight
    </a>
</div>
{% endblock %}
